<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookings</title>
    <link rel="stylesheet"  href="{%  static 'css/styles.css' %}">

</head>
<body>
<div class="topnav">
    <a href="#home">Home</a>
    <a href="#createlogin">Create Login</a>
    <a href="#viewhotels">View Hotels</a>
    <a href="#login">Login</a>
    <a class="active" href="#booking">Booking</a>
</div>

<div class="container head">
    <h1>Hotel Bookings</h1>
    <p>Look through the hotel's name, location, rating and price per night to ensure you find the right stay for you. Once you have, please enter the details below.</p>
</div>
</body>
</html>