/* NOTE: USE CTRL + F5 TO REFRESH WEBPAGE CACHE */

/* Styles the border of page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Style of page */
body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.5;
    background-color: #dbe4ee;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #81a4cd;
    color: white;
    padding: 1rem 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;

}

/* Styling for nav items */
.navbar a {
    color: #054a91;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}

.div {
    width: 90%;
    max-width: 1200%;
    margin: 0 auto;
}

/* Indicates when cursor is over a nav item */
.navbar a:hover {
    background-color: #81a4cd;
    color: black;
}

/* Indicates the active page */
/*.navbar a.active{
    background-color: #3e7cb1;
    color: white;
}*/

.navbar li {
    padding: 0.25rem 0;
}

/* Styling for H1 text */
h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    text-align: center;
    margin-top: 1rem;
    padding: 10px;
}

h2 {
    font-size: 1.5rem;
    color: #2c3e50;
    text-align: center;
    margin-top: 1rem;
    padding: 12px;
}

h3 {
    font-size: 1rem;
    color: #2c3e50;
    text-align: center;
    margin-top: 0.5rem;
    padding: 6px;
}

/* Styling for P text */
p {
    font-size: 1rem;
    padding: 10px 10px;
    text-align: center;
    line-height: 1.5;
    color: black;
}

/* Styling for the Hotel cards */
.hotels {
    padding: 2rem 0;
}

.hotel {
    text-align: center;
    margin-bottom: 2rem;
}

.hotel-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 50px;
}

.hotel-card {
    border: 1.5px solid black;
    border-radius: 10px;
    min-height: 300px;
    overflow: hidden;
    position: relative;
    background-color: white;
    color: black;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hotel-card img {
    width: 100%;
    height: auto;
}

.hotel-card h4 {
    margin: 0.75rem;
    color: black;
}

.hotel-card p {
    display: block;
    position: relative;
    z-index: 1;
    /* background: yellow; used to Debug Quirks Mode when <DOCTYPE html> was missing */
    font-size: 1rem;
    margin: 0 0.75rem 1rem;
    color: black;
}

/* Styling for table data */
table {
    margin-left: auto;
    margin-right: auto;
}
